<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>MSE VOD Demo</title>
</head>

<body>
  <h1>MSE VOD Demo</h1>
  <video autoplay controls></video>
  <br />
  <button>Send</button>
  <script src="/javascripts/segment.js"></script>
  <script src="/javascripts/test.js"></script>
</body>

</html>